body>.grid {
    height: 100%;
}

.column {
    max-width: 360px;
}

.login {
    width: 50%;
    margin: auto;
    padding-top: 10%;
}

@media(max-width: 600px) {
    .login {
        width: 100%
    }
}